<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/aris-style.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/sample-style.css" />
<link rel="stylesheet" type="text/css" href="../../../resources/css/jquery-ui.css" />
<title>ARIS Sample Application</title>
</head>
<body>
  <script src="../../../resources/js/jquery.min.js"></script>
  <script src="../../../resources/js/jquery-ui.min.js"></script>
  <div class="container">
    <header id="header">
      <h3>DVD SHOP INVENTORY MANAGEMENT</h3>
    </header>
    <div class="pull-right"></div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav">
              <li class="dropdown">
                <a href="../stock/index.html" class="dropdown-toggle">STOCK</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">
               <a href="../../views/index.html" class="dropdown-toggle">LOGOUT</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12" style="background-color: white;">
    
        <!-- breadcrumb -->
        <div class="header">
          <ul class="breadcrumb">
            <li>TOP<span class="divider">&gt;</span></li>
            <li>STOCK<span class="divider">&gt;</span></li>
            <li>DETAIL</li>
          </ul>
        </div>
        
        <!-- message -->
        
        <!-- contents -->
        <div class="row">
  
        <!-- left space -->
          <div class="span2">
            <div class="text-center">
              <a href="../stock/search.html" class="btn"><i class="icon icon-eye-open"></i>&nbsp; Go Search</a>
            </div>
            <br>
            <br>
          </div>
        
          <!-- center space -->
          <div class="span8">
            <div class="row text-center">
              <img src="../../../resources/img/dvd/die_hard_4.jpg" class="img-rounded">
            </div>
            <div class="text-center">
              <h4>STOCK DETAIL</h4>
            </div>
            <table class="table table-condensed detail">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td><label for="dvdEanCode" class="pull-right">DVD EAN CODE  :  </label></td>
                  <td>4988142580726</td>
                </tr>
                <tr>
                  <td><label class="pull-right" for="dvdTitle">DVD TITLE  :  </label></td>
                  <td>Die Hard 4.0</td>
                </tr>
                <tr>
                  <td><label for="warehouseId" class="pull-right">WAREHOUSE ID  :  </label></td>
                  <td>TKY001</td>
                </tr>
                <tr>
                  <td><label class="pull-right" for="warehouseName">WAREHOUSE NAME  :  </label></td>
                  <td>Shibuya 1st warehouse</td>
                </tr>
                <tr>
                  <td><label for="warehouseAddress" class="pull-right">WAREHOUSE ADDRESS  :  </label></td>
                  <td>Udagawatyou 123-444-567, Shibuyaku, Tokyo</td>
                </tr>
                <tr>
                  <td><label for="warehouseTel" class="pull-right">WAREHOUSE TEL  :  </label></td>
                  <td>03-1234-5678</td>
                </tr>
                <tr>
                  <td><label for="quantity" class="pull-right">QUANTITY  :  </label></td>
                  <td>1000</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="text-center">
                      <a href="../stock/updateInput.html" class="btn"><i class="icon-edit" style="margin-top: 1px;"></i>&nbsp; Update</a>
                    </div>
                  </td>
                </tr>
              </tbody>  
            </table>
            <br>
          </div>
          <!-- right space -->
          <div class="span2">
          </div>
        </div>
      </div>
    </div>
     
    <footer class="span12 offset2">
      <p>Copyright 2014 Accenture. All Rights Reserved. Accenture Confidential. For Internal Use Only.</p>
    </footer>
  </div>
</body>

<script type="text/javascript" charset="utf-8" src="../../../resources/js/bootstrap.min.js"/></script>
</html>